<% if user_signed_in? %>
    <% if @domainurls.find_all_by_user_id(current_user.id).count>0 %>
<div class="row">
<div class="small-12 small-centered columns">
<table>
    <thead>
        <tr>
            
            <th><center><div id="numero2"><%= link_to sortable "domainurl", "URL" %></div></center></th>
            <th><center><%= link_to sortable "keyword"  %></center></th>
            <th><center><%= link_to sortable "category", "Category" %></center></th>
            <th><center><%= link_to sortable "google_rank", "Google" %></center></th>
            <th><center><%= link_to sortable "bing_rank", "Bing" %></center></th>
            <th><center><%= link_to sortable "yahoo_rank", "Yahoo" %></center></th>
            <th><center><%= link_to sortable "alexa_rank", "Alexa" %></center></th>
            <th><center><%= link_to sortable "updated_at", "Updated" %></center></th>
            <th><center></center></th>
        </tr>
    </thead>
    <tbody>
    
    

    <% @domainurls.find_all_by_user_id(current_user.id).each do |f| %>   
        <tr>
            
            <td><div id="numero4"><%= f.domainurl rescue "N/A" %></div></td>
            <td><center><%= f.keyword rescue "N/A" %></center></td>
            <td><center><%= f.category rescue "N/A" %></center></td>
            <td><center><% if f.google_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.google_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if f.bing_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.bing_rank %>
                        <% end %></center</td>
            <td><center><% if f.yahoo_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.yahoo_rank%>
                        <% end %></center></td>
            <td><center><% if f.alexa_global==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.alexa_global %>
                        <% end %></center></td>
            <td><center><% if f.updated_at<f.created_at+3 %>
                awaiting update
                <% else %>
                <%= time_ago_in_words(f.updated_at) rescue "N/A" %>
                <% end %></center></td>
            <td><center><ul class="button-group radius">
                <%= link_to "Edit", edit_domainurl_path(f),
                                                :class=>"tiny button secondary"%>
                <%= link_to "Delete", f,    :method=>:delete,
                                                :confirm=> "Permanently delete #{f.domainurl} and #{f.keyword}?",
                                                :class=>"tiny button alert"%>
            </ul>
            </center>
            </td>

        </tr>
        <% end %>
    </tbody>
</table>
</div>
</div>
<p />

<div class="row">
    <%= will_paginate @domainurls.find_all_by_user_id(current_user.id) %>
</div>
<% end %>
<div class="row collapse">
   
            <%= simple_form_for(:domainurl) do |f| %>
            <%= f.error_notification %>
            <%= f.hidden_field :user_id, :value=>current_user.id %>
            
                <div class="small-1 columns"><span class="prefix">URL</span></div>
                <div class="small-2 columns"><%= f.input :domainurl, label: false %></div>
                <div class="small-1 columns"><span class="prefix">Keyword</span></div>
                <div class="small-2 columns"><%= f.input :keyword, label: false %></div>
                <div class="small-2 columns"><span class="prefix">Category (optional)</span></div>
                <div class="small-2 columns"><%= f.input :category, label: false%></div>
                
                <div class="small-2 columns"><div id="numero0"><%= f.button :submit, 'Add URL & Keyword', :class=>"button success tiny radius" %></div></div>
</div>
<div class="row">
    <div class="small-4 columns">
        <%= f.error :base %>
    </div> 
</div>

<% end %> 

<% if @domainurls.find_all_by_user_id(current_user.id).count>0 %>
<div class="row">
    <center>
<div id="numero3"><%= button_to "Refresh All", refresh_path, :method=>:put, :class=>"button radius" %></div></center>
    
</div>
<% end %>


<% else %>
<div class="row">
    <div class="small-6 small-offset-3 columns">
<center><h2><center>Track Search Engine Rankings for Free.<br />Get Instant Updates!<br /></center></h2>
<%= link_to "Sign up", new_user_registration_path, :class=>"button" %></center>
</div>
</div>
<% end %>



