<% if user_signed_in? %>

    <% if @domainurls.find_all_by_user_id(current_user.id).count>0 %>
<div class="row"><center>
<div class="small-12 small-centered columns">
<table>
    <thead>
        <tr>
            
            <th><center><div id="numero2"><%= link_to sortable "domainurl", "URL" %></div></center></th>
            <th><center><%= link_to sortable "keyword"  %></center></th>
            <th><center><%= link_to sortable "category", "Category" %></center></th>
            <th><center><%= link_to sortable "google_rank", "Google" %></center></th>
            <th><center><%= link_to sortable "bing_rank", "Bing" %></center></th>
            <th><center><%= link_to sortable "yahoo_rank", "Yahoo" %></center></th>
            <th><center><%= link_to sortable "alexa_rank", "Alexa" %></center></th>
            <th><center><%= link_to sortable "updated_at", "Updated" %></center></th>
            <th><center></center></th>
        </tr>
    </thead>
    <tbody>
    
    

    <% @domainurls.find_all_by_user_id(current_user.id).each do |f| %>   
        <tr>
            
            <td><div id="numero4"><%= link_to f.domainurl, domainurl_path(f.id) rescue "-" %> (<%= f.googlesource %>)</div></td>
            <td><center><%= f.keyword rescue "-" %></center></td>
            <td><center><%= f.category rescue "-" %></center></td>
            <td><center><% if f.google_rank==nil && f.refreshedactual==nil %>-
                        <% else %>
                        <%= f.google_rank rescue "-" %>
                        <% end %></center></td>
            <td><center><% if f.bing_rank==nil && f.refreshedactual==nil %>-
                        <% else %>
                        <%= f.bing_rank %>
                        <% end %></center</td>
            <td><center><% if f.yahoo_rank==nil && f.refreshedactual==nil %>-
                        <% else %>
                        <%= f.yahoo_rank%>
                        <% end %></center></td>
            <td><center><% if f.alexa_global==nil && f.refreshedactual==nil %>-
                        <% else %>
                        <%= f.alexa_global %>
                        <% end %></center></td>
            <td><center><% if f.refreshedactual==nil %>
                awaiting update
                <% else %>
                <%= time_ago_in_words(f.refreshedactual) rescue "-" %>
                <% end %></center></td>
            <td><center><ul class="button-group radius">
                <%= link_to "Edit", edit_domainurl_path(f),
                                                :class=>"tiny button secondary"%>
                <%= link_to "Delete", f,    :method=>:delete,
                                                :confirm=> "Permanently delete #{f.domainurl}?",
                                                :class=>"tiny button alert"%>
            </ul>
            </center>
            </td>

        </tr>
        <% end %>
    </tbody>
</table>
</div>
</center>
</div>
<p />

<div class="row">
    <%= will_paginate @domainurls.find_all_by_user_id(current_user.id) %>
</div>
<% end %>
<div class="row collapse">
   
            <%= simple_form_for(:domainurl) do |f| %>
            <%= f.error_notification %>
            <%= f.hidden_field :user_id, :value=>current_user.id %>
            
                <div class="small-1 columns"><span class="prefix">URL</span></div>
                <div class="small-2 columns"><%= f.input :domainurl, label: false %></div>
                <div class="small-1 columns"><span class="prefix">Keyword</span></div>
                <div class="small-1 columns"><%= f.input :keyword, label: false %></div>
                <div class="small-2 columns"><span class="prefix">Category (optional)</span></div>
                <div class="small-1 columns"><%= f.input :category, label: false %></div>
                <div class="small-1 columns"><span class="prefix">Country</span></div>
                <div class="small-1 columns"><%= f.input :googlesource, priority: [ "USA" ], collection: ["USA", "UK", "Canada", "France"], label: false, :selected=>["USA"] %></div>
                <div class="small-2 columns"><div id="numero0"><%= f.button :submit, 'Add URL & Keyword', :class=>"button success tiny radius" %></div></div>
</div>
<div class="row">
    <div class="small-4 columns">
        <%= f.error :base %>
    </div> 
</div>

<% end %> 

<% if @domainurls.find_all_by_user_id(current_user.id).count>0 %>
<div class="row">
    <%= link_to "Export History to CSV", domainurls_path(format: "csv") %>
    <center>
        <br />
        <br />
<div id="numero3"><%= button_to "Refresh All", refresh_path, :method=>:put, :class=>"button radius" %></div></center>
    
</div>
<% end %>


<% else %>

<div class="panel callout">
<div class="row">
    
    <div class="small-7 columns">
        <br /><br />
    <a href="/users/sign_up"><img src="/assets/seo_keyword_tracker.png" /></a>
    </div>
    <div class="small-5 columns">
        <center>
            <br />
        <h3>Track Search Engine Rankings.</h3><br /><br />
        <h3>Chart Trends.</h3><br /><br />
        <h3>Get Instant Updates.</h3><br /><br /><br />
        <%= link_to "Get Started", new_user_registration_path, :class=>"button large success round" %>
        </center>
    </div>
</div>
</div>
<br /><br /><br /><br /><br />
<div class="row">
    <div class="small-6 columns">
    <div class="panel">
        <h5><strong>What is Trackeria?</strong></h5><br />
        <ul>
            <li>Trackeria is an easy to use Search Engine Keyword Rank Tracking Tool.</li>
            <li>Keep track of all your websites and keyword rankings from Google, Bing, and Yahoo.</li>
            <li>The only rank tracking tool that allows you to get updates on-demand with a "Refresh All" button.</li>
            <li>Simple charts and data allow you to monitor trends over time.</li>
            <li>Rankings are updated and saved automatically each day.</li>
            
        </ul>
    </div>
    </div>
    <div class="small-6 columns">
    <div class="panel">
        <h5><strong>How Does It Work?</strong></h5><br />
        <ul>
            <li>Getting started is easy. Simply add a URL, Keyword, Country and (optional) Category to begin tracking.</li>
            <li>Trackeria tracks the top 200 search results for a given URL & keyword.</li>
            <li>Rankings are automatically updated daily. Plus get immediate rankings whenever you want.</li>
            <li>Track from the USA, UK, Canada, or France. The Country selected for a URL/Keyword determines the country specific search engine used (ca.yahoo.com, google.fr, etc).</li>
        </ul> 
    </div>
    </div>
</div>

<% end %>



