

<div id="annual"></div>



<div class="row">
<div class="small-8 small-offset-2 columns">
  <center><p id="notice"><%= notice %></p>

  <b>URL:</b>
  <%= @domainurl.domainurl %> | 
  <b>Keyword:</b>
  <%= @domainurl.keyword %> |
  <b>Country:</b>
  <%= @domainurl.googlesource %> |
  <b>Category:</b>
  <%= @domainurl.category %></center>
<br />
<br />
</div>
</div>
<div class="row">
<div class="small-4 small-offset-4 columns">
<table>
    <thead>
        <tr>
            <!-- <th><center><%= link_to sortable "google_rank", "Google" %></center></th>
            <th><center><%= link_to sortable "bing_rank", "Bing" %></center></th>
            <th><center><%= link_to sortable "yahoo_rank", "Yahoo" %></center></th>
            <th><center><%= link_to sortable "alexa_rank", "Alexa" %></center></th>
            <th><center><%= link_to sortable "updated_at", "Date" %></center></th> -->
            <!-- <th><center><div data-alert class="alert-box secondary">Google</div></center></th>
            <th><center><div data-alert class="alert-box secondary">Bing</div></center></th>
            <th><center><div data-alert class="alert-box secondary">Yahoo</div></center></th>
            <th><center><div data-alert class="alert-box secondary">Alexa</div></center></th>
            <th><center><div data-alert class="alert-box secondary">Date</div></center></th> -->
            <th><center>Google</center></th>
            <th><center>Bing</center></th>
            <th><center>Yahoo</center></th>
            <th><center>Alexa</center></th>
            <th><center>Date</center></th>
        </tr>
    </thead>
    <tbody>
        <tr>        
            <td><center><% if @domainurl.google_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.google_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if @domainurl.bing_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.bing_rank %>
                        <% end %></center</td>
            <td><center><% if @domainurl.yahoo_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.yahoo_rank%>
                        <% end %></center></td>
            <td><center><% if @domainurl.alexa_global==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.alexa_global %>
                        <% end %></center></td>
            <td><center><% if @domainurl.updated_at<@domainurl.created_at+3 %>
                awaiting update
                <% else %>
                <%= (@domainurl.updated_at.to_date) rescue "N/A" %>
                <% end %></center></td>
        </tr>
          <% @history.each do |f| %>   
        <tr>
            
            <td><center><% if f.google_rank==nil %>N/A
                        <% else %>
                        <%= f.google_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if f.bing_rank==nil %>N/A
                        <% else %>
                        <%= f.bing_rank rescue "N/A" %>
                        <% end %></center</td>
            <td><center><% if f.yahoo_rank==nil %>N/A
                        <% else %>
                        <%= f.yahoo_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if f.alexa_global==nil %>N/A
                        <% else %>
                        <%= f.alexa_global rescue "N/A" %>
                        <% end %></center></td>
            <td><center><%= (f.created_at.to_date) rescue "" %></center></td>
        <tr>
        </tr>
        <% end %>   
    </tbody>
</table>





<%= link_to 'Edit', edit_domainurl_path(@domainurl) %> |
<%= link_to 'Back', domainurls_path %>

</div>
</div>