


<div class="row">
<div class="small-12 small-centered columns">
  <center><p id="notice"><%= notice %></p></center>

  <b>URL:</b>
  <%= @domainurl.domainurl %> | 
  <b>Keyword:</b>
  <%= @domainurl.keyword %> |
  <b>Category:</b>
  <%= @domainurl.category %>
<br />
<br />
<table>
    <thead>
        <tr>
            <th><center><%= link_to sortable "google_rank", "Google" %></center></th>
            <th><center><%= link_to sortable "bing_rank", "Bing" %></center></th>
            <th><center><%= link_to sortable "yahoo_rank", "Yahoo" %></center></th>
            <th><center><%= link_to sortable "alexa_rank", "Alexa" %></center></th>
            <th><center><%= link_to sortable "updated_at", "Date" %></center></th>
        </tr>
    </thead>
    <tbody>
        <tr>        
            <td><center><% if @domainurl.google_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.google_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if @domainurl.bing_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.bing_rank %>
                        <% end %></center</td>
            <td><center><% if @domainurl.yahoo_rank==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.yahoo_rank%>
                        <% end %></center></td>
            <td><center><% if @domainurl.alexa_global==nil && @domainurl.created_at != @domainurl.updated_at %>N/A
                        <% else %>
                        <%= @domainurl.alexa_global %>
                        <% end %></center></td>
            <td><center><% if @domainurl.updated_at<@domainurl.created_at+3 %>
                awaiting update
                <% else %>
                <%= (@domainurl.updated_at.to_date) rescue "N/A" %>
                <% end %></center></td>
        </tr>
          <% @history.find_all_by_user_id(current_user.id).each do |f| %>   
        <tr>
            
            <td><center><% if f.google_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.google_rank rescue "N/A" %>
                        <% end %></center></td>
            <td><center><% if f.bing_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.bing_rank %>
                        <% end %></center</td>
            <td><center><% if f.yahoo_rank==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.yahoo_rank%>
                        <% end %></center></td>
            <td><center><% if f.alexa_global==nil && f.created_at != f.updated_at %>N/A
                        <% else %>
                        <%= f.alexa_global %>
                        <% end %></center></td>
            <td><center><% if f.updated_at<f.created_at+3 %>
                awaiting update
                <% else %>
                <%= time_ago_in_words(f.updated_at) rescue "N/A" %>
                <% end %></center></td>
        <tr>
        </tr>   
    </tbody>
</table>





<%= link_to 'Edit', edit_domainurl_path(@domainurl) %> |
<%= link_to 'Back', domainurls_path %>

</div>
</div>